*::after::before {
    box-sizing: inherit;
}


#layoutDesktop {
    background: rgb(254, 247, 228);
}
html {
    text-size-adjust: 100%;
    background-color: rgb(254, 247, 228);
    font-size: 62.5%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

body,
button,
input,
optgroup,
select,
textarea {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: Roboto, sans-serif;
}
.header-top-swiper{
    background-color: #e8efff !important;
}
#topBarHeader a {
    margin: 0 auto;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, #d9062b, #d9062b, #d9062b, #d9062b);

                rgb(217, 6, 43),
                rgb(217, 6, 43),
                rgb(217, 6, 43),
                rgb(217, 6, 43),
                rgb(217, 6, 43));
    -webkit-background-clip: text;
    color: #fff;

}

/* 
a {
    outline: 1px solid #ff62ab !important;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
} */


a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.topHeader-content {
    display: flex;

}

#topBarHeader {
    align-items: center;
    background: #ffe891;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

#bannerTopHead {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background: #e8efff;
}

#bannerTopHead .swiper-container {
    list-style: none;
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #e8efff;

}


.swiper-wraper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

.swiper-slide {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

#cps-container-navbar {
    margin-bottom: 1rem;
    background: #d9062b !important;
}

.cps-container-navbar-sticky {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cps-container-navbar-sticky .box-logo img{
    width: 220px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.dropdown-trigger .box_local-store {
    background-color: hsla(0, 0%, 100%, 0.5);
    box-sizing: border-box;
    padding-right: 5px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 8px;
    color: #fff;
}

.img-local {
    width: 20px;
    height: 20px;
    overflow: cover;
    border-radius: 10px;
    margin-top: 14px;
}

.fa-location-dot {
    /* font-size: 40px; */
    color: #fff;
}

.local-content-box-top {
    font-size: 10px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.local-content-box-bot {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-search {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.input-group-button {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
}

.input {
    border: none;
    padding: 10px;
    flex: 1;
    font-size: 16px;
    outline: none;
}

.input::placeholder {
    color: #aaa;
}

button {
    background-color: #fff; /* Màu nền nút */
    color: #D9062B; /* Màu chữ */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #D9062B;
    color: #fff; /* Màu nền khi hover */
}
.contact-hotline,
.header-box-about-store,
.header-box-search-item-product,
.header-box-cart {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    height: 48px;
    margin: 5px;
}

.contact-hotline:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px !important;
}

.header-box-about-store:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px !important;
}

.header-box-search-item-product:hover {
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px !important;

}

.header-box-cart:hover {
    background: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px !important;
}

.fa-phone,
.fa-location-dot,
.fa-truck-fast,
.fa-cart-shopping {
    margin-left: 5x;
    padding-left: 15px !important;

    font-size: 30px;
}

.about-box-content,
.header-box-about-content,
.header-box-about-content,
.header-box-about-content {
    width: 80px;
    line-height: 0.5;
    padding-left: 10px;
}
.login-button, .logout-button {
    display: flex;
    align-items: center;
    margin: 10px;
}

.login-button a, .logout-button a {
    text-decoration: none;
    color: white;
}

.login-button .about-icon, .logout-button .about-icon {
    margin-right: 5px;
}

.login-button .about-contact p, .logout-button .about-contact p {
    color: white; 
}
.about-icon {
    font-size: 24px;
}

.about-contact p {
    margin: 0;
}

.login-button {
   
}


.fa-circle-user {
    margin-top: 5px;
    font-size: 15px;
    
}

/* ------------------------Body-------------------------------- */





.categoties-title-right p:hover {
    text-decoration: underline !important;
}

.box-bottum-phu-kien-1,
.box-bottum-phu-kien-2,
.box-bottum-phu-kien-3,
.box-bottum-phu-kien-4,
.box-bottum-phu-kien-5,
.box-bottum-phu-kien-6,
.box-bottum-phu-kien-7,
.box-bottum-phu-kien-8,
.box-bottum-phu-kien-9,
.box-bottum-phu-kien-10,
.box-bottum-phu-kien-11,
.box-bottum-phu-kien-12,
.box-bottum-phu-kien-13,
.box-bottum-phu-kien-14,
.box-bottum-phu-kien-15,
.box-bottum-phu-kien-16,
.box-bottum-phu-kien-17,
.box-bottum-phu-kien-18,
.box-bottum-phu-kien-19,
.box-bottum-phu-kien-20,
.box-bottum-phu-kien-21,
.box-bottum-phu-kien-22,
.box-bottum-phu-kien-23,
.box-bottum-phu-kien-24,
.box-bottum-phu-kien-25,
.box-bottum-phu-kien-26,
.box-bottum-phu-kien-27,
.box-bottum-phu-kien-28,
.box-bottum-phu-kien-29 {
    background-color: rgb(242, 131, 118);
    width: 120px;
    min-height: 125px;
    box-shadow: #3c4043 0px 1px 2px 0px;
    line-height: 24px;
    background-size: cover;
    background-position: 100% 100%;
    overflow: hidden;
    display: block;
    border-radius: 10px;
    background-repeat: no-repeat;
    padding-top: 10px;
}

.box-bottum-items-phu-kien img {
    height: 100px;

}

.box-bottum-items-phu-kien p {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
    padding: 0 5px;
    max-width: 100%;
    word-break: break-word;
}

.box-bottum-phu-kien-1 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-1644.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-2 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-43.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-3 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-3.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-4 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-4.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-5 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/19.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-6 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-5.svg);
}

.box-bottum-phu-kien-7 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-6.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-8 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-7.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-9 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-8.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-10 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-9.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-11 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-10.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-12 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-11.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-13 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/12.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-14 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/13.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-15 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/14.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-16 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-15.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-17 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/18.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-18 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-15.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-19 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-16.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-20 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-phu-kien/cate-17.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-21 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/1.svg);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-22 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/2.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-23 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/3.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-24 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/4.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-25 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/5.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-26 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/6.webp);
}

.box-bottum-phu-kien-27 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/7.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-28 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/8.webp);
    background-repeat: no-repeat;
}

.box-bottum-phu-kien-29 {
    background-image: url(/DuAnCellphoneS/assets/image/box-bottum-linh-kien-may-tinh/9.webp);
    background-repeat: no-repeat;
}

.body-box-phu-kien {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    gap: 15px;
    justify-content: space-between
}


.brand-banner-flex {
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}

.swiper-slide-prev-1 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-students/dongho-hssv-sliding-2024.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-2 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-students/laptop-hssv-sliding-2024.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-3 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-students/ss-hssv-sliding-2024.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-4 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-students/vivo-hssv-sliding-2024.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-5 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-payment/hsbc690300-update-2401-2tr.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-6 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-payment/uob-690-300-uu-dai-thanhtoan-home.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-7 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-payment/uu-dai-eximbank-690-300.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-8 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-students/vivo-hssv-sliding-2024.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-9 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-brand/banner-sliding-apple-112.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-10 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-brand/SIS\ asus.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-11 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-brand/th-hieu-ss-0013.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}

.swiper-slide-prev-12 {
    box-sizing: border-box;
    position: center;
    background-size: cover;
    z-index: 1;
    flex-shrink: 0;
    align-items: center;
    list-style: none;
    width: 287.5px;
    height: 125px;
    background-image: url(/DuAnCellphoneS/assets/image/brand-banner-brand/xiaomi.webp);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2 px 4px -1px rgba(0, 0, 0, .06);
    margin: 0 10px;
    border-radius: 10px;
}
 